@media only screen and (max-width:768px) {
  
  .example2 {
    > div:nth-child(2) {
      display: block;
    }
    > div:nth-child(1) {
      display: none;
    }
    > div:nth-child(3) {
      display: none;
    }
    > div:nth-child(4) {
      display: block;
    }
    > div:nth-child(5) {
      display: block;
    }
    > div:nth-child(6) {
      display: none;
    }
    > div:nth-child(7) {
      display: none;
    }
    > div:nth-child(8) {
      display: block;
    }
    > div:nth-child(9) {
      display: none;
    }
    > div:nth-child(10) {
      display: block;
    }
    > div:nth-child(11) {
      display: none;
    }
    > div:nth-child(12) {
      display: block;
    }
    > div:nth-child(13) {
      display: none;
    }
    > div:nth-child(14) {
      display: block;
    }
  }

  .header {
    width: 100%;
    height: 425px;
    background-size: contain;
    background-image: url("../images/rectangle.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .names {
      margin-top: 1px;
      margin-right: -40px;
    }

    .sign {
      font-size: 12px;
      color: #b4ec51;
      border: 2px solid #b4ec51;
      border-radius: 50px;
      margin-right: 50px;
      
      .sign-in {
        padding: 5px 10px 5px 10px;
      }
      .text {
        text-align: center;
        margin-top: 10px;
        margin-left: 30px;
      }
  
    }

    .company {
      color: green;
      text-align: center;
      height: 57.75px;
      width: 100%;
      margin-top: 70px;

      img {
        margin-top: -15px;
        width: 144px;
        height: 43px;
      }
    }
  }

  .one-customer {
    margin: 5px 3%;

    img {
      margin-top: 40px;
    }
  }

  .in-heard {
    text-align: center;
    margin-top: -60px;

    div {
      text-align: center;
      margin: 45px 10px 0 10px;
    }

    .icons {
      font-size: 26px;
      margin-top: 5px;
    }

    .text1 {
      margin-top: 10px;
      font-size: 25px;
    }
  }

  .lorem {
    text-align: center;
    font-size: 13px;
    margin-top: -5px;
  }

  .start {
    text-align: center;
    padding: 12px 35px 12px 36px;
    font-size: 14px;
    font-weight: 100;
    margin-top: 20px;
    background-image: linear-gradient(to right, #429321, #b4ec51);
    border: 1px solid green;
    color: white;
    box-shadow: 2px 3px 5px #D8D8D8;
    border-radius: 40px;
    border: none;
    
    a:hover {
      background: green;
      color: #fff;
    }
  
    &:focus, &:active {
      outline: 0 !important;
      box-shadow: none;
    }
  }

  .content .today {
    padding-bottom: 50px;
    .in-today {
      margin-top: 40px;
      text-align: center;
      width: 231px;
      height: 48px;

      .icon-today {
        font-size: 36px;
        font-weight: 100;

        .ti-bookmark-alt {
          margin-right: 10px;
          font-size: 30px;
        }
      }
    }

    .img-today {

      img {
        background-image: url(../images/til.png);
        margin-top: -10px;
        width: 100%;
        margin-bottom: 30px;
      }
    }

    .grade-on {
      margin-top: 100px;

      .size {
        font-size: 14px;
        text-align: justify;
        width: 250px;
        margin-top: -13px;
      }
    }
  }

  .daily-report {

    .in-report {
      margin-top: 35px;
      text-align: center;

      .icon-report {
        font-size: 36px;
        font-weight: 100;

        .ti-write {
          font-size: 30px;
          margin-right: 10px;
        }
      }
    }

    .size-report {
      font-size: 14px;
      padding: 5px 15px 0 0;
      text-align: justify;
    }

    .img-report {
      img{
        width: 100%;
        margin-left: 10px;
        margin-top: 13px;
      }
    }
  }

  .content .members {
    padding-bottom: 50px;

    .font-members {
      margin-top: 35px;
      position: relative;
      width: 100%;
      padding-right: 20px;
      padding-left: 1px;
    }
    .in-members {
      margin-top: 35px;
      text-align: center;

      .icon-members {
        font-size: 36px;
        font-weight: 100;

        .ti-user {
          font-size: 30px;
          margin-right: 10px;
        }
      }

      .size-members {
        text-align: center;
      }
    }
    
    .text {
      font-size: 13px;
      padding: 20px 0 3px 10px;

      .font2 {
        text-align: justify;
      }
    }

    .icon-two {
      margin-left: 10px;
      margin-right: 4px;
      font-size: 18px;
      margin-top: 19px;
      color: #429321;
      padding: 5px;
    }
    .img-members {

      img {
        margin-top: 30px;
        width: 100%;
      }
    }
  }

  .customers-one {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 10px;

    .in-customers {
      text-align: center;
      margin-top: -10px;

      .icon-customers{
        font-size: 36px;
        font-weight: 100;

        .ti-face-smile {
          font-size: 30px;
          margin-right: 10px;
        }
      }

      .size-customers {
        font-size: 16px;
        text-align: center;
      }
    }

    .img-customers {

      img {
        width: 100%;
        margin-left: -15px;
        padding: 35px 10px 5px 10px;
      }
    }

    .font-customers {

      .text-font1 {
        font-size: 13px;
        padding: 20px 0 3px 10px;
        .font1 {
          text-align: justify;
        }
      }

      .icon-on {
        margin-left: 10px;
        margin-right: 4px;;
        font-size: 18px;
        margin-top: 25px;
        color: #429321;
      }
    }
  }

  .our-customer {
    color: white;
    height: 525px;
    background-size: cover;
    background: url("../images/rectangle3.png") no-repeat;
    margin-top: 13px;
    font-size: 10px;

    .one-customer {
      margin-top: -50px;
      padding: -5px 5px -5px 5px;
    }

    .carousel-inner {
      width: 100%;
      margin-top: -70px;
    }
    .carousel-indicators {
      position: absolute;
      right: 0;
      bottom: 160px;
      left: 0;
      z-index: 15;

      li {
        width: 6px;
        height: 6px;
        color: #d8d8d8;
        border: 2px solid #d8d8d8;
        border-radius: 50px;
        font-size: 15px;
        --webkit-border-radius : 10 px;
        margin-left: 25px;
      }
    }

    .customer-two {
      margin-top: 50px;
    }
    .fone2 {
      font-size: 50px;
      text-align: center;
      margin-top: 10px;
      font-weight: 100;
    }


    p {
      margin-left: 13px;
      margin-top: 15px;
      margin-right: 13px;
      font-weight: 100;
    }

    .font-size {
      margin-left: 18px;
      font-size: 7px;
      margin-top: -16px;
    }

    .in-our {
      margin-top: 50px;
    }

    .our-one {
      font-size: 57px;
      color: #63696d;
      margin-top:-30px;
      margin-left: -25px;
    }

    .our-two {
      color: #cec9c9;
      margin-top: 40px;
      font-size: 16px;
      text-align: justify;
    }

    .our-three {
      font-size: 57px;
      color: #63696d;
      text-align: right;
      margin-top: 70px;
      margin-right: -25px;
    }
  }

  .container {
    margin-top: 30px;
  }

  .project {
    height: 500px;
    width: 100%;
    margin-top: 100px;

    .project-right {
      margin-left: -40px;
      margin-right: 35px;
      }

      .in-project1 {
        margin-top: -40px;
      }

      .img {
          width: 100%;
      }

      .footer-content {
        font-size: 36px;

      .ti-calendar {
        margin-right: 15px;
      }
    }
  }

  .project {
    height: auto;

    .in-project {
      text-align: center;
      margin-top: -50px;

      .icon-project {
        font-size: 36px;
        font-weight: 100;

        .ti-calendar {
          font-size: 30px;
          margin-right: 10px;
        }
      }

      .size-project {
        font-size: 13px;
        text-align: center;
        margin-bottom: 40px;
        margin-top: 10px;
      }
    }

    .font-project {
      margin-top: -25px;
      font-size: 14px;
      text-align: justify;
    }

    .img-project {

      img {
        width: 100%;
        margin-top: -20px;
        padding-left: 2px;
        padding-right: 22px;
      }
    }
  }

  .footer {
    background-color: #39474e;
    width: 100%;
    height: 179px;
    float: left;
    margin-top: -55px;

    .justify-content-center {
      text-align: center;
      color: white;
      margin-top: -30px;

      .company {
        font-size: 25px;
        color: rgb(43, 231, 43);
      }

      .names {
        font-size: 12px;
        color: rgb(43, 231, 43);
      }

      .name {
        font-size: 11px;
        color:rgb(43, 231, 43); ;
      }

      .in-names {
        margin-top: 8px;
        font-size: 12px;
      }

      .in-name {
        margin-top: 11px;
        font-size: 11px;
      }
      .footer-on {
        position: relative;
        width: 100%;
        padding-right: 0;
        margin-left: 0;
      }
      .radical {
        color: rgb(43, 231, 43);
        margin-top: 73px;
        margin-left: -5px;
        font: icon;
      }
    }
  }
}

@media only screen and (max-width:480px) {

  .example2{
    > div:nth-child(2) {
      display: block;
    }
    > div:nth-child(1) {
      display: none;
    }
    > div:nth-child(3) {
      display: none;
    }
    > div:nth-child(4) {
      display: block;
    }
    > div:nth-child(5) {
      display: none;
    }
    > div:nth-child(6) {
      display: block;
    }
    > div:nth-child(7) {
      display: none;
    }
    > div:nth-child(8) {
      display: block;
    }
    > div:nth-child(9) {
      display: none;
    }
    > div:nth-child(10) {
      display: none;
    }
    > div:nth-child(11) {
      display: none;
    }
    > div:nth-child(12) {
      display: block;
    }
    > div:nth-child(13) {
      display: none;
    }
    > div:nth-child(14) {
      display: block;
    }
    > div::nth-child(15) {
      display:none;
    }  
    > div::nth-child(16) {
      display:block;
    }  
  }

  .header {
    width: 100%;
    height: 266px;
    background-size: contain;
    background-image: url("../images/rectangle2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .in-head {
      margin-top: 20px;
    }

    .icons {
      font-size: 18px;
    }

    .names {
      margin-top: 1px;
      margin-right: -60px;
    }

    .sign {
      text-align: center;
      font-size: 12px;
      color: #a0e032;
      border: 2px solid #b4ec51;
      border-radius: 40px;
      margin-right: 75px;
      .sign-in {
        padding: 3px 10px 3px 10px;
      }
    }

    .text-head {
      text-align: center;
      font-size: 12px;
    }

    .company {
      color: green;
      text-align: center;
      height: 57.75px;
      width: 100%;
      margin-top: 70px;

      img {
        margin-top: -60px;
        width: 130px;
        height: 35.75px;
      }
    }
  }

  .one-customer {
    margin: 0 3%;

    img {
      margin-top: 70px;
    }
  }

  .in-heard {
  text-align: center;

    div {
      text-align: center;
      margin-top: -20px;
      margin-left: 2px;
      margin-right: 1px;
    }

    .icon {
      font-size: 25px;
    }

    .text1 {
      font-size: 20px;
      margin-top: 1px;
    } 
  }

  .lorem {
    text-align: center;
    font-size: 9px;
    margin-top: -8px;
  }

  .start {
    text-align: center;
    padding: 10px 36px 9px 35px;
    font-size: 14px;
    font-weight: 100;
    margin-top: 15px;
    background-image: linear-gradient(to right, #429321, #b4ec51);
    border: 1px solid green;
    color: white;
    box-shadow: 2px 3px 5px #D8D8D8;
    border-radius: 60px;
    border: none;
    
    a:hover {
      background: green;
      color: #fff;
    }
  
    &:focus, &:active {
      outline: 0 !important;
      box-shadow: none;
    }
  }
  
  .content .today {

    .in-today {
      margin-top: 40px;
      text-align: center;
      width: 231px;
      height: 48px;

      .icon-today {
        font-size: 24px;

        .ti-bookmark-alt {
          font-size: 20px;
          margin-right: 10px;
        }
      }

      i {
        font-size: 12px;
      }
    }

    .img-today {

      img {
        margin-top: -40px;
        width:100%;
        height: 308px;
        margin-left: 25px;
        padding-right: 45px;
        margin-bottom: 20px;
      }
    }

    .grade-on {
      margin-top: 100px;

      .size {
        font-size: 14px;
        margin-top: -5px;
        text-align: justify;
        width: 460px;
        padding-left: 8.69565217%;
        padding-right: 8.69565217%;
      }
    }
  }

  .daily-report {

    .in-report {
      margin-top: 25px;
      text-align: center;

      i {
        font-size: 12px;
      }

      .icon-report {
        font-size: 24px;

        .ti-write {
          font-size: 20px;
          margin-right: 10px;
        }
      }
    }

    .size-report {
      width: 100%;
      height: 168px;
      font-size: 15px;
      margin-top: 20px;
      text-align: justify;
      padding-left: 3.26086%;
      padding-right: 3.26086%;
      }

      .img-report {

        img{
          width: 100%;
          height: 262px;
          padding-left: 0.178649%;
          margin-top: 50px;
          padding-right: 5.357298%;
          margin-bottom: 15px;
        }
      }
    }

    .content .members {
      box-shadow: none;

      .font-members {
        margin-top: -15px;
        position: relative;
        width: 100%;
        padding-right: 20px;
        padding-left: 1px;
  
        .size2 {
          font-size: 16px;
          padding-left: 2.173913%;
          padding-right: 3.695652%;
          text-align: justify;
        } 
      }
      
      .text-three {
        margin-top: 25px;
      }
      .in-members {
        margin-top: 3px;
        text-align: center;

      i {
        font-size: 12px;
        text-align: center;
      }

      .icon-members {
        font-size: 24px;

        .ti-user {
          font-size: 20px;
          margin-right: 10px;
        }
      }
    }

    .img-members {

      img {
        width: 100%;
        height: 342px;
        padding: 0 15px 15px 10px;
      }
    }
  }

  .content .rectangle {
    color: white;
    background-size: cover;
    font-size: 10px;
    margin-top: -50px;

    .one-customer {
      margin-top: -5px;
    }

    .circle {
      width: 100px;
      height: 100px;
      border: 2px solid;
      border-radius: 100px;
      margin-top: 60px;
      padding-top: 30px;

      .in-icon {
        font-size: 36px;
        padding-bottom: 15px;
      }
    }

    .circle-one {
      width: 40px;
      height: 40px;
      border: 2px solid;
      border-radius: 100px;
      font-size: 20px;
      padding-top: 2px;
      margin: -18px 32px 25px 34px;
      background-image: linear-gradient(to right, #429321, #b4ec51);
    }

    .carousel-indicators {
      position: absolute;
      right: 0;
      bottom: -40px;
      left: 0;
      z-index: 15;

      li {
        width: 6px;
        height: 6px;
        color: #d8d8d8;
        border: 2px solid #d8d8d8;
        border-radius: 50px;
        font-size: 15px;
        --webkit-border-radius : 10 px;
        margin-left: 25px;
      }
    }
  }

  .content .our-customer {
    color: white;
    height: 525px;
    background-size: cover;
    background: url("../images/rectangle3.png") no-repeat;
    margin-top: -30px;
    font-size: 10px;

    .one-customer {
      margin-top: -50px;
    }

    .carousel-inner {
      width: 100%;
      margin-top: -70px;
    }
    .carousel-indicators {
      position: absolute;
      right: 0;
      bottom: 215px;
      left: 0;
      z-index: 15;

      li {
        width: 8px;
        height: 8px;
        color: #d8d8d8;
        border: 2px solid #d8d8d8;
        border-radius: 50px;
        font-size: 15px;
        --webkit-border-radius : 10 px;
        margin-left: 25px;
      }
    }

    .customer-two {
      margin-top: 50px;
    }
    .fone2 {
      font-size: 24px;
      text-align: center;
      padding-top: 25px;
      margin-bottom: 40px;
      font-weight: 100;
    }


    p {
      margin-left: 13px;
      margin-top: 15px;
    }

    .font-size {
      margin-left: 18px;
      font-size: 7px;
      margin-top: -16px;
    }

    .in-our {
      margin-top: 50px;
    }

    .our-one {
      font-size: 57px;
      color: #63696d;
      margin-top:-35px;
      margin-left: -25px;
    }

    .our-two {
      color: #cec9c9;
      margin-top: 25px;
      font-size: 16px;
      margin-left: -45px;
      margin-right: -45px;
      text-align: justify;
    }

    .our-three {
      font-size: 57px;
      color: #63696d;
      text-align: right;
      margin-top: 130px;
      margin-right: -25px;
    }
  }

  .content .project {
    height: 700px;
    padding-bottom: 30px;

    .in-project {
      text-align: center;
      margin-top: -50px;

      .icon-project {
        font-size: 24px;
        margin-top: -20px;

        .ti-calendar {
          font-size: 20px;
          margin-right: 10px;
        }
      }

      .size-project {
        margin-top: -10px;
        font-size: 12px;
      }
    }

    .font-project {
      margin-top: -15px;
      font-size: 14px;
      text-align: justify;
      margin-left: 2.208695%;
      margin-right: 2.608695%;
    }

    .img-project {

      img {
        width: 100%;
        margin-top: -30px;
        margin-left: 10px;
        padding-right: 22px;
        margin-bottom: 30px;
      }
    }
  }

  .footer-mb {
    background-color: #39474e;
    width: 100%;
    height: 179px;
    float: left;
    margin-top: -30px;

    .justify-content-center {
      text-align: center;
      color: white;
      margin-top: 10px;

      .company {
        font-size: 25px;
        color: rgb(43, 231, 43);
      }

      .namae {
        text-align: left;
        color: rgb(43, 231, 43);;
        font-size: 22px;
        margin-left: 20px;
        margin-bottom: 8px;
      }

      .names {
        font-size: 12px;
        color: rgb(43, 231, 43);
        font-weight: 100;
      }

      .name {
        font-size: 11px;
        color:rgb(43, 231, 43); ;
      }

      .in-names {
        margin-top: 8px;
        font-size: 12px;
        font-weight: 100;
      }

      .in-name {
        margin-top: 11px;
        font-size: 11px;
        
      }
      
      .margin {
        margin-top: 10px;
        text-align: left;
        font: icon;
      }
      .copy {
        margin-top: 10px;
        font-size: 13px;
        font-weight: 100;
      }

      .icon {
        color:rgb(43, 231, 43) ;
        padding-left: 20px;
        font-size: 14px;
        margin-bottom: -10px;
      }
    }
  }
}
